<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/hospitalstyle.css">
    <title>Document</title>
</head>
<body>
    <form action="/hosp" method="post" class="langlat">
        <input class="hos" type="text" name="hospital_start" placeholder="starting hospital">
        <input class="hos" type="text" name="hospital_destination" placeholder="ending hospital">
        <input class="hos" type="submit">
    </form>
</body>
</html>