<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/route" method="post" class="langlat">
        <input type="text" name="user_start" placeholder="starting user">
        <input type="text" name="user_destination" placeholder="ending user">
        <input type="text" name="hospital_start" placeholder="starting hospital">
        <input type="text" name="hospital_destination" placeholder="ending hospital">
        <input type="submit">
    </form>
</body>
</html>