<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/usernoambstyle.css">
    <title>Document</title>
</head>
<body>
    <h1 class="nam"><%= name%></h1>
    <h1 class="bod">We will notify you when an ambulance will be coming.</h1>
    <h1 class="saf">Safe Journey!</h1>
</body>
</html>