<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/userstyle.css">
    <title>Document</title>
</head>
<body>
    <form action="/user" method="post" class="langlat">
        <input class="use" type="text" name="user_start" placeholder="starting user">
        <input class="use" type="text" name="user_destination" placeholder="ending user">
        <input class="use" type="submit">
    </form>
</body>
</html>